* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}
.login {
  margin-left: 10px;
}
.login_button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}
.section {
  display: flex;
  justify-content: center;
}
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
.menu_list {
  display: flex;
}
.menu_list li {
  padding: 10px;
}
.search {
  border-bottom: 1px solid;
  margin-right: 20px;
  right: 0;
  position: absolute;
  cursor: pointer;
}
.search input {
  padding: 10px;
  outline: none;
  border: none;
}
.product_card {
  transition: transform 0.3s ease; /* 부드러운 확대 애니메이션 */
  margin-bottom: 20px;
}

.product_card:hover {
  transform: scale(1.1); /* 호버 시 카드 전체 확대 */
}

.product_img {
  width: 100%;
  height: auto;
}
.product_price {
  font-weight: bold;
}
