* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}
.login {
  margin-left: 10px;
}
.login_button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  padding: 20px;
}

.section {
  display: flex;
  justify-content: center;
}
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
.menu_list {
  display: flex;
}
.menu_list li {
  padding: 10px;
}
.search {
  border-bottom: 1px solid;
  margin-right: 20px;
  right: 0;
  position: absolute;
  cursor: pointer;
}
.search input {
  padding: 10px;
  outline: none;
  border: none;
}
.product_card {
  transition: transform 0.3s ease; /* 부드러운 확대 애니메이션 */
  margin-bottom: 20px;
}

.product_card:hover {
  transform: scale(1.1); /* 호버 시 카드 전체 확대 */
}

.product_img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.product_price {
  font-weight: bold;
}
.detail_img {
  display: flex;
  justify-content: flex-end;
}
.detail_title {
  font-size: 18px;
  margin-bottom: 10px;
}
.detail_price {
  font-size: 20px;
  margin-bottom: 10px;
}
.detail_choice {
  margin-bottom: 20px;
}
.add_button {
  width: 100%;
  margin-top: 20px;
}
.loading {
  text-align: center;
}
.hide {
  visibility: hidden;
}
.side-menu {
  display: none;
}
@media (max-width: 768px) {
  .hide {
    visibility: visible;
  }
  .menu {
    display: none;
  }
  .search {
    display: none;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .burger_menu {
    padding: 20px;
  }
  .side-menu {
    display: block;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fafafa;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 2;
  }
  .side-menu-list button {
    margin: 5px;
    border: none;
    background: none;
    width: 120px;
  }

  .side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
    background: none;
  }

  .side-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .side-menu-list button:hover {
    background-color: beige;
    border-radius: 3px;
  }
}
